<div id="<%= dom_id application %>">
  <p>
    <strong>Job offer:</strong>
    <%= application.job_offer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= application.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>

</div>
